h1{
    font-size: 2rem;
}.navbar{
    margin: 0 9%;
    padding: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
}
.navElements >ul{
    display: flex;
    gap: 2rem;
    list-style-type:none ;
}
.navElements a{
    font-size: 1rem;
    color: #fff;
}
.navElements a:hover{
    color: #ffc451;
}
.bi-list{
    font-size: 2rem;
}
.dropdownHover {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    background-color: #fff;
    width: 13rem;
    height: 14rem;
    margin-top: 4rem;
    padding: 0.5rem 0;
    border-radius: 0.6rem;
}
.dropdownHover >div{
    list-style-type:none ;
    color:  #727272;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 2.5rem;
}
.dropdownHover>div:hover{
   background-color: #ffc451;
}
.dropdown:hover ,.dropdownHover:hover {
    .dropdownHover{
        visibility: visible;
        opacity: 1;
        transform: translateY(-3rem);} 
}
.deepDropdown-hover{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    top: 0rem;
    right: 10.023rem;
    background-color: #fff;
    width: 13rem;
    height: 14rem;
    margin-top: 4rem;
    padding: 0.5rem 0;
    border-radius: 0.6rem;
}
.deepDropdown-hover div{
    list-style-type:none ;
    color:  #727272;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 2.5rem;
}
.deepDropdown-hover>div:hover{
    background-color: #ffc451;
 }
.deepDown:hover, .deepDropdown-hover:hover{
    .deepDropdown-hover{visibility: visible;
        opacity: 1;
        transform: translateX(-3rem);}
}
button{
    border: 0.15rem solid #ffc451;
    width: 9rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    color: #fff;
    background-color:inherit ;
    transition: all 0.5s;
}
button:hover{
    background-color: #ffc451;
    color: #000;
}
.firstSectionDiv{
    height: 48rem;
    width: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;   
}
.firstSectionDiv img{
    filter: brightness(30%);
}
/* .firstSectionDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
} */
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bi-chevron-down{
    font-size: 0.8rem;
}
.firstWrapper{
    justify-content: center;
    flex-wrap: wrap;
}
.firstSectionDiv  h2{
    color: #fff;
    margin: 0 15%;
    padding: 0 5rem ;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.4rem;
    /* width: 50rem; */
}
.firstSectionDiv  p{
    color: #c7c7c8;
    font-size: 1.2rem;
    font-weight: 500;
}
.choise{
    row-gap: 2rem;
    justify-content: center;
    margin: 5rem 6% 0 6%;
    margin-top: 5rem;
}
.choiseData{
    border: 1px solid  #727272;
    height: 9.81rem;
    padding: 1.875rem  1.25rem;
    color: #ffc451;
    font-size: 2rem;
    transition: all 0.5s;
}
.choiseData:hover{
    border: 1px solid  #ffc451;
    transform: translateY(-1rem);
    p>a{color: #ffc451;}
}
.choiseData a{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
}
.secondSection{
    scroll-margin-top: 10.5rem; 
}
article{
    scroll-margin-top: 2rem; 
}
.thirdSection{
    scroll-margin-top:7rem ;
}
.row{
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 5rem;
}
.articleRow{
    justify-content: start;
    margin-top: 5rem;
}
h3{
    font-size: 1.75rem;
    font-weight: 700;
}
.col-6  p{
    color:  #727272;
}
.thirdSectionInfo{
    flex-direction:column ;
    gap: 3rem;
}
.thirdsectionData{
    gap: 1rem;
}
.col-6 h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;

}
h4 + p{
    font-size: 0.9rem;
}
.col-6 i{
    font-size: 3rem;
    color: #ffc451;
}
.adsDiv{
    padding-right: 3rem ;
}
.scroll{
    overflow-x: scroll;
    background: transparent;
}
.scroll::-webkit-scrollbar {
    width: 0px;
}
.adsDiv >img{
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s ease-in;
}
.adsDiv >img:hover{
    filter:none;
    opacity: 1;
    transform: translateY(-0.5rem);
    scale: 1.29;
}
.fourthSection{
    height: 100vh;
    background-color: #fff;
}

    